body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    border: 1px solid;
    border-color: blueviolet;
}

main {
    border: 1px solid olivedrab;
}

.flex-parent {
    display: flex;
    gap: 12px;
    justify-content: center;
}